<!DOCTYPE html>

<html lang="en" style="padding-top: 80px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Web App</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


<main role="main">

    <div class="container" id="bandsTables">

        <div class="row justify-content-center padded">
            
            <div class="col-md">
                    Band 1:
                <select id="band_1" class="form-control">
                    <option value="None">Pick A Color</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Violet">Violet</option>
                    <option value="Grey">Grey</option>
                    <option value="White">White</option>
                </select>
            </div>

            <div class="col-md">
                    Band 2:
                <select id="band_2" class="form-control">
                    <option value="None">Pick A Color</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Violet">Violet</option>
                    <option value="Grey">Grey</option>
                    <option value="White">White</option>
                </select>
            </div>

            <div class="col-md">
                    Band 3:
                <select id="band_3" class="form-control">
                    <option value="None">Pick A Color</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Violet">Violet</option>
                    <option value="Grey">Grey</option>
                    <option value="White">White</option>
                </select>
            </div>

            <div class="col-md">
                    Band 4:
                <select id="band_4" class="form-control">
                    <option value="None">Pick A Color</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Violet">Violet</option>
                    <option value="Grey">Grey</option>
                    <option value="White">White</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                </select>
            </div>
            <div class="col-md" placeholer="Pick A Color">
                    Band 5:
                <select id="band_5" class="form-control">
                    <option value="None">Pick A Color</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Violet">Violet</option>
                    <option value="Grey">Grey</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                </select>
            </div>

        </div>
     <pre>

     </pre>

        <div class="container">
            <div class="row justify-content-center padded">
                <button id="submit_4" class="btn btn-primary">Submit 4 Bands</button>
                &emsp;&emsp;
                <button id="submit_5" class="btn btn-primary">Submit 5 Bands</button>
            </div>

        </div>
        <div class="row justify-content-center">Resistor:  <div id="sol"> </div></div> 

</main>

</body>

</html>